.img1{
    position: absolute;
     top: 60px;
     left: 60px;
}

.img0{
    position: absolute;
    top: 60px;
    left: 370px;
}

.imgs{
    position: relative;
    top: 10px ;
    left: 290px;
}

._menu{
    position: absolute;
    top:  60px;
    left: 740px;
}

.inp_t{
    background-color: ghostwhite;
    width:228px ;
    height:34px ;
    border-radius: 5px;
    position: absolute;
    top: 190px;
    left: 780px;
    border:none!important;
    background-color: rgba(53, 60, 65, 0.151)!important;
}

.inp_s{
    background-color: ghostwhite;
    width:228px ;
    height:34px ;
    border-radius: 5px;
    position: absolute;
    top: 234px;
    left: 780px;
    border:none!important;
    background-color: rgba(53, 60, 65, 0.151)!important;
}

.b_home{
    background-color: white;
    box-shadow: 4px 3px 3px rgb(119, 0, 255);
    border-radius: 5px;
    height:20px ;
    width: 70px;
    border: none
    
}



.botton{    
    background-color: rgb(0, 174, 255);
    width:240px ;
    height:30px ;
    border-radius: 10px;
    position:absolute;
    top: 290px;
    left: 780px ;
    border:none!important;
    background-color: rgb(0, 174, 255)!important;    
}

.botton2{
    position: absolute;
    top: 360px;
    left: 800px ;
}

.botton3{
    width:160px ;
    height:25px ;
    border-radius: 10px;
    position:absolute;
    top: 410px;
    left: 825px ;
    border:none!important;
    background-color:rgba(128, 128, 128, 0.445)!important;
}

.botton4{
    width:200px ;
    height:60px ;
    position: absolute;
    top: 520px;
    left: 725px ;
}

.botton5{
    width:156px ;
    height:58px ;
    position: absolute;
    top: 520px;
    left: 940px ;
}

.text_{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: absolute;
    top: 310px;
    left: 835px ;
}
